$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light-red: #ECC5CA;
$darker-red: #B81B2D;
$light-green: #CFDDCE;
$darker-green: #7A9668;
// Colors
$primary-color: #8356D1;
$secondary-color: #EFECFB;
$font-color: #1b1b1b;

// Booking status badge
$pending: #8356D1;
$accepted: #67785D;
$rejected: #B81B2D;
$light-pending: #EFECFB;
$light-accepted: #C9E6C9;
$light-rejected: #ECC5CA;
