// Specific CSS for your home-page

body {
  height: 100%;
  margin: 0;
}

body {
  // background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.pexels.com/photos/20343478/pexels-photo-20343478/free-photo-of-senso-ji-temple-in-tokyo.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.home-background {
  display: grid;
  justify-content: center;
  align-items: start;
  margin-top: 10%;
  background-color: rgba(0,0,0,0.2),;
  width: 80%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px
}

#header-first {
  font-size: 650%;
  font-weight: 700;
}

.home-text h1 {
  text-align: left;
  color: white;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

#header-second {
  font-weight:600;
}

#index {
  margin-top: 20px;
  margin-bottom: 20px
}
