.main-container {
  display: flex;
  justify-content: center;
}

.booking-container {
  width: 1000px;
  border-color: green;
  align-items: center;
}

.button-center {
  position: absolute;
  left: 40%;
}
