.centered-title{
  text-align: center;
}

.primary-text-color{
  color: $primary-color;
}

.secoundary-text-color{
  color: $secondary-color;
}

.themed-form {
  border-radius: 20px;
  background-color: $secondary-color;
  width: 650px;
  height: 950px;
  margin-top: 30px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
}

.round-corners{
  border-radius: 8px;
}
