.avatar-larger {
  margin: 30px;
}

.review-avatar {
  width: 10px;
  border-radius: 50%;
}

.about-card {
  height: fit-content;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.user-details {
}

.user-reviews {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.reviews-container::-webkit-scrollbar {
  display: none;
}

.review-card {
  flex: 0 0 auto;
  width: 300px;
  margin-right: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.review-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.review-body {
  width: 96vh;
}

.user-experiences {
  width: 60vw;
}

#guide-tag {
  font-size: 1.2rem;
  padding-bottom: 0;
}

#user-full-name {
  font-size: 1.9rem;
}

.user-details {
  position: sticky;
}

.about-card i {
  font-size: 250%;
  margin: 20px auto 20px;
  color: $primary-color;
}

.about-card h3 {
  font-weight: 700;
  color: rgb(41, 41, 47)
}

.guide-icon-grid p {
  color:rgba(0,0,0,0.5);
}
