.experience-header {

}

.show-3{
  padding-top: 10px;
  padding-bottom: 10px;
}

.experience-images-header {
  margin-top: 24px;
  margin-bottom: 26px;
    .main-image {
      width: 100%;
      height: auto;
      max-height: 400px;
      object-fit: cover;
      border-radius: 10px;
    }
 }


.experience-details{
  border-radius: 20px;
  background-color: $secondary-color;
  margin-right: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
}

.epxerience-show-content{

}

.booking-form{
  background-color: $secondary-color;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  height: 650px;
  flex: 4;
  position: sticky;
  top: 0;
}

.booking-form btn {
  border: 1px solid rgba(0,0,0,0.3);
  width: 100%;
  border-radius: 10px;
  font-weight: 800;
  color: $primary-color;
  font-size: 120%;
}

.booking-form btn:hover {
  border: 1px solid rgba(0,0,0,0.3);
  width: 100%;
}

.price-details {
  display: flex;
  width: 100%;
}

.price-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
  padding-right: 0;
}

#price-heading {
  text-align: left;
  padding-left: 0;
}

#price-num {
  text-align: right;
  padding-right: 0
}

.duration-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
  padding-right: 0;
  margin-bottom: 20px;
}

#duration-heading {
  text-align: left;
  padding-left: 0;
}

#duration-num {
  text-align: right;
  padding-right: 0
}

.subtotal {
  font-weight: 800;
  color: $primary-color;
  font-size: 120%;
}
