.experience-images-header {
  margin-top: 5px;

  .single-image {
    display: block;
    width: 100%;
    height: 500px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      object-fit: cover;
      display: block;
    }
  }
}

.show-page-body {
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.lightpurple-small-btn {
  margin-top: 5px;
  font-size: 14px;
  padding: 6px 10px;
  color: $primary-color !important;
  background-color: $secondary-color !important;
  border-color: $primary-color !important;

  &:hover {
    background-color: $primary-color !important;
    color: $secondary-color !important;
  }
}

.h3-show {
  margin-top: 38px;
  margin-bottom: 20px;
}

.image-grid {
  display: grid;
  grid-template-areas:
    "main main item1 item2"
    "main main item3 item4";
  gap: 10px;
  height: 500px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.image-grid-item {
  overflow: hidden;
  border-radius: 8px;
}

.main {
  grid-area: main;
}

.item1 {
  grid-area: item1;
}

.item2 {
  grid-area: item2;
}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.image-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.experience-details {
  border-radius: 20px;
  background-color: $secondary-color;
  margin-right: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
}

// .epxerience-show-content {

// }

.booking-form {
  background-color: $secondary-color;
  margin-left: 20px;
  border-radius: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  height: 670px;
  flex: 4;
  position: sticky;
  top: 0;
}

.booking-form .btn {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  border-radius: 10px;
  font-weight: 800;
  background-color: $primary-color;
  color: $secondary-color;
  font-size: 120%;
  margin-bottom: 10px;
}

.booking-form .btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  background-color: $primary-color;
  color: $secondary-color;
}

.price-details {
  display: flex;
  width: 100%;
}

.price-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
  padding-right: 0;
}

#price-heading {
  text-align: left;
  padding-left: 0;
}

#price-num {
  text-align: right;
  padding-right: 0;
}

.duration-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
  padding-right: 0;
  margin-bottom: 20px;
}

#duration-heading {
  text-align: left;
  padding-left: 0;
}

#duration-num {
  text-align: right;
  padding-right: 0;
}

.subtotal {
  font-weight: 800;
  color: $primary-color;
  font-size: 120%;
}
