<div class="container">
  <h1>All Bookings</h1>
  <ul>
    <li class="text-decoration-none">
      <h2><% @bookings.each do |booking| %></h2>
      <p><%= booking.experience.title %></p>
      <p>Host: <%= booking.experience.title.users %></p>
      <% end %>
    </li>
  </ul>
</div>


<%# @bookings.each do |booking|
 booking.experience %>
