<div class="container">
  <h1>Bookings</h1>
  <ul>
    <li>
      <h2><% @bookings.each do |booking| %></h2>
      <p><%= booking.experience.title %></p>
      <p><strong>Status:</strong> <%= booking.experience.date %></p>
      <p><strong>Price:</strong> <%= booking.experience.price %></p>
      <% end %>
    </li>
  </ul>
</div>


<%# @bookings.each do |booking|
 booking.experience %>
