<nav class="navbar navbar-light bg-light">
  <i class="fa-solid fa-mountain-sun" style="color: #B197FC;"></i>
  <i class="fa-solid fa-umbrella-beach" style="color: #B197FC;"></i>
  <i class="fa-solid fa-martini-glass-citrus" style="color: #B197FC;"></i>
  <i class="fa-solid fa-dungeon" style="color: #B197FC;"></i>
</nav>
