<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
background image in body, header %>
<%= render "shared/filterbar" %>
<body style="background-image: url('https://images.pexels.com/photos/5845255/pexels-photo-5845255.jpeg')">
  <div class="home-background">
    <div class="home-text">
      <h1 id="header-first">Experience the World</h1>
      <h1 id="header-second">Through the Eyes of a Local</h1>
      <%= link_to experiences_path do %>
        <button class="btn btn-primary btn-lg" id="index">Start Exploring Now</button>
      <% end %>
    </div>
  </div>
</body>
