<h1>Experiences#show</h1>
<div class="container">
  <div class="experience-header">
  <h1><%= @experience.title %></h1>
  </div>


  <%= link_to 'Back to all Experiences', experiences_path %>
  <h2>Image will be here</h2>


</div>
