.card-product {
  overflow: hidden;
  height: 170px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.card-product img {
  height: 100%;
  width: 170px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

/* Ali`s index cards */

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.card-experience {
  width: 382px;
  height: 460px;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-experience-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.card-image {
  width: 358px;
  height: 320px;
  border-radius: 10px;
  object-fit: cover;
}

.card-text-details {
  font-family: 'Inria Serif', serif;
  font-size: large;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-title {
  font-size: 1.25em;
  font-weight: bold;
  color: #333;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cards-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
