.experience-show-user{

}

.user-host-pill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.user-host-show-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.user-info {
  flex-grow: 1;
  text-align: center;
}

.user-info h3 {
  margin: 0;
  font-size: 1.5em;
  color: #6A1B9A;
}

.user-info p {
  margin: 0;
  color: gray;
  font-size: 0.9em;
}

.user-host-show-rating {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-host-show-rating p {
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.stars {
  font-size: 1.2em;
  color: #333;
}
